<h1>Вопрос из теста <%= @question.test.title %>:</h1>

<p>
<%= link_to "Вернуться к вопросам теста", test_path(@question.test_id) %> |
<%= link_to "Редактировать этот вопрос", edit_question_path(@question) %>
</p>

<p><strong>Тема - </strong><%= @question.title %></p> 
<p><strong>Вопрос - </strong><%= @question.question %></p>

<h2>Ответы</h2>

<%= link_to 'Новый ответ', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
