<table class="table text-center align-middle">
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.badge_photo url') %></th>
    <th><%= t('.rules') %></th>
    <th colspan="3"><%= t('actions') %></th>
  </tr>
</table>

<%= render @badges %>

<%= link_to t('.create_badge'), new_admin_badge_path %>
