<div class="nav nav-admin">
  <span class="nav nav-admin title"><%= t('general.admin_bar') %></span>

  <div class="nav-admin user">
    <%= t('general.welcome_admin') %> <b class="nav-admin user-email"><%= current_user.email %></b> <%= t('general.guru') %> |
    <%= link_to t('general.exit'), destroy_user_session_path, method: :delete %>
  </div>
</div>
