<table class="table text-center align-middle">
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.badge_photo url') %></th>
    <th><%= t('.description') %></th>
  </tr>
</table>

<%= render @badges %>

<%= link_to t('general.tests'), tests_path %>
