<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><strong> 
  <%= t('.all_questions', all_questions_count: @test_passage.all_questions_count) %><br>
  <%= t('.current_question_number', current_question_number: @test_passage.current_question_number) %>
</strong></p>

<p>
  <%= t('.current_question', current_question_question: @test_passage.current_question.question) %>
</p>

<p><%= t('.variants') %></p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id,
    :body, include_hidden: true do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p> 
  <% end %>
  <p><%= link_to 'Gist', gist_test_passage_path(@test_passage), method: :post %></p> 
  <p><%= form.submit t('general.next_question') %></p>
<% end %> 
