<h1><%= t('.header') %></h1>

<p>
<%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table class="table">
  <tr>
    <th class="sort-by-first-column pointer">
      <%= t('tests.index.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.question_count') %></th>
    <th colspan="4">Действия</th>
  </tr>

  <%= render @tests %>
</table>
