<h1><%= t('tests.index.header') %></h1>
<table class="table text-center align-middle">
  <tr>
    <th class='sort-by-column pointer'>
      <%= t('tests.index.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success' %>
    </th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.question_count') %></th>
    <th><%= t('tests.index.id') %></th>
    <th><%= t('tests.index.timer') %></th>
  </tr>
  <%= render @tests %>
</table>
